.chamada{
    background: rgb(255, 187, 69);
    display: flex;
     padding-top: 80px;
     padding-bottom: 80px;
     justify-content: center;
  
  }
  
  body{
     background: rgb(255, 255, 97);
     margin: 0px;
     font-family: "Prompt", sans-serif;
     color: black;
     margin-bottom: 100px;
  
  }